﻿body, html, #app {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px 350px 10px 10px;
    box-sizing: border-box;

    .uploader {
        height: 100%;
        overflow: hidden;
    }

    .result {
        position: absolute;
        top: 0;
        right: 0;
        width: 350px;
        height: 100%;
        overflow: hidden;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;

        .load-status {
            margin: 20px;
            text-align: center;
            font-size: 1.2em;
        }

        .compressed-item {
            font-size: 0.9em;
            overflow: hidden;

            > a {
                display: block;
                color: #3c3;
            }
        }
    }
}