﻿@inject Microsoft.Extensions.Configuration.IConfiguration Config
@{
    ViewBag.Title = "Архиватор";
}

@section Styles {
    <link href="~/dist/main_style.css?v=@Config["AppSettings:BundlesVersion"]" rel="stylesheet" />
}

<div id="app"></div>

@section Scripts {
    <script src="~/dist/react.js?v=16.7.0"></script>
    <script src="~/dist/react-dom.js?v=16.7.0"></script>
    <script src="~/dist/main_bundle.js?v=@Config["AppSettings:BundlesVersion"]"></script>
}